<a href="<%= url %>" class="pagination__next <% current_page.last? ? "is-disabled" : ""%>">
	<i class="icon icon--ui__circ-arrow-right">
	    <svg><use xlink:href="/media/images/sprites/ui.svg#circ-arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
	</i>
</a>
